{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "globals": {
    "__DEV__": true,
    "describe": true,
    "before" : true,
    "beforeEach" : true,
    "after" : true,
    "it" : true
  },
  "rules": {
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"]
  }
}
